@model WebsiteThiToeic.Access.EF.QUESTION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QUESTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LISTENNING.LISTEN_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LISTENNING.LISTEN_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.READING.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.READING.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANSWER_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANSWER_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANSWER_B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANSWER_B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANSWER_C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANSWER_C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANSWER_D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANSWER_D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORRECT_ANSWER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORRECT_ANSWER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
