@model WebsiteThiToeic.Access.EF.READING

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>READING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PART.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PART.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
