@model WebsiteThiToeic.Access.EF.VOCABULARY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VOCABULARY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PICTURE.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PICTURE.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THEME.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THEME.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOUN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOUN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VERB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VERB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADJECTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADJECTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADVERB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADVERB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYNONYM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYNONYM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
